div.aboutmain {
  height     : 100%;
  text-align : center;
}

div.aboutmain a {
  color           : inherit;
  text-decoration : inherit;
  font-weight     : inherit;
}

div.aboutmain p.aboutitle {
  padding-top : 5%;
  font-family : "freight";
  font-size   : 60pt;
}

div.aboutmain p.aboutp {
  font-family : "freight";
  font-size   : 30pt;
  transition  : 0.2s;
}

div.aboutmain p.aboutp:hover {
  font-size : 31pt;
}

div.aboutmain div.aboutinfodiv {
  height : 50%;
}

div.aboutmain div.leavemsg {
  display         : flex;
  height          : 30%;
  align-items     : center;
  justify-content : center;
}

@media
  only screen
  and (max-width : 1600px) {
  .desktop div.aboutmain p.aboutitle {
    padding-top : 5%;
    font-size   : 50pt;
  }

  .desktop div.aboutmain p.aboutp {
    font-size  : 25pt;
    transition : 0.2s;
  }

  .desktop div.aboutmain p.aboutp:hover {
    font-size : 31pt;
  }
}

@media
  only screen
  and (max-width : 1280px) {
  .desktop div.aboutmain p.aboutitle {
    padding-top : 5%;
    font-size   : 40pt;
  }

  .desktop div.aboutmain p.aboutp {
    font-size  : 20pt;
    transition : 0.2s;
  }

  .desktop div.aboutmain p.aboutp:hover {
    font-size : 21pt;
  }

  .mobile div.aboutmain p.aboutitle {
    font-size : 70pt;
  }

  .mobile div.aboutmain p.aboutp {
    font-size  : 40pt;
    transition : 0;
  }

  .mobile div.aboutmain p.aboutp:hover {
    font-size : 40pt;
  }

  .mobile div.aboutmain {
    height : fit-content;
  }

  .mobile p.aboutp a.more {
    display : none;
  }
}
