a.mail {
  color : inherit;
}

input.inputs {
  width            : 27.5%;
  height           : 10%;
  margin           : 1% 1%;
  color            : #212121;
  border           : 1px solid #212121;
  background-color : #EFEBE900;
  text-align       : center;
  font-family      : 'freight';
  font-size        : 35pt;
}

input.inputs:focus {
  border : 2px solid #212121;
}

textarea.inputmessage:focus {
  border : 2px solid #212121;
}

input.inputs::-webkit-input-placeholder {
  color       : #01579B80;
  text-align  : center;
  font-family : 'freight';
  font-size   : 35pt;
}

input.inputs::-moz-placeholder {
  color       : #01579B80;
  text-align  : center;
  font-family : 'freight';
  font-size   : 35pt;
}

textarea.inputmessage::-webkit-input-placeholder {
  color       : #01579B80;
  text-align  : center;
  font-family : 'freight';
  font-size   : 35pt;
  line-height : 40vh;
}

textarea.inputmessage::-moz-placeholder {
  color       : #01579B80;
  text-align  : center;
  line-height : 40vh;
}

textarea.inputmessage {
  width            : 87%;
  height           : 45%;
  margin           : 1% 1%;
  padding          : 1% 1%;
  color            : #212121;
  border           : 1px solid #212121;
  background-color : #EFEBE900;
  font-family      : 'freight';
  font-size        : 35pt;
  word-wrap        : break-word;
}

input.submit {
  -webkit-appearance : none;
  border-radius      : 0;
}

input.submit {
  width            : 9%;
  height           : 6%;
  margin-bottom    : 6%;
  color            : #EFEBE9;
  border           : 1px solid #0288D1;
  background-color : #0288D1;
  text-align       : center;
  font-family      : 'freight';
  font-size        : 25pt;
}

div.contacttitle {
  margin-top  : 5%;
  text-align  : center;
  font-family : "freight";
  font-size   : 60pt;
}

div.addressemailcontainer {
  width  : 100%;
  height : 90%;
}

div.addressemail {
  width       : 40%;
  float       : left;
  margin      : 6%;
  color       : #212121;
  text-align  : left;
  font-family : 'freight';
  font-size   : 40pt;
}

div.map {
  width      : 40%;
  height     : 60%;
  float      : right;
  margin     : 6.2% 5% 0% 0%;
  text-align : center;
}

div.form {
  text-align : center;
}

div.more {
  clear      : both;
  text-align : center;
  font-size  : 35pt;
}

@media
  (max-width : 2100px) {
  .desktop div.addressemail {
    font-size : 25pt;
  }
}

@media
  (max-width : 1400px) {
  .desktop div.addressemail {
    font-size : 15pt;
  }

  .desktop textarea.inputmessage {
    font-size : 15pt;
  }

  .desktop input.inputs {
    font-size : 25pt;
  }

  .desktop input.submit {
    font-size : 15pt;
  }

  .desktop input.inputs::-webkit-input-placeholder {
    font-size : 25pt;
  }

  .desktop input.inputs::-moz-placeholder {
    font-size : 25pt;
  }

  .desktop textarea.inputmessage::-webkit-input-placeholder {
    font-size : 25pt;
  }

  .desktop textarea.inputmessage::-moz-placeholder {
    font-size : 25pt;
  }

  .desktop div.contacttitle {
    font-size : 40pt;
  }
}

@media
  (max-width : 1280px) {
  .desktop textarea.inputmessage {
    font-size : 10pt;
  }

  .desktop input.inputs {
    font-size : 20pt;
  }

  .desktop input.submit {
    font-size : 10pt;
  }

  .desktop input.inputs:-webkit-input-placeholder {
    font-size : 20pt;
  }

  .desktop input.inputs::-moz-placeholder {
    font-size : 20pt;
  }

  .desktop textarea.inputmessage:-webkit-input-placeholder {
    font-size : 20pt;
  }

  .desktop textarea.inputmessage::-moz-placeholder {
    font-size : 20pt;
  }

  .desktop div.contacttitle {
    font-size : 30pt;
  }

  .mobile div.addressemailcontainer {
    height : auto;
  }

  .mobile div.map {
    width  : 80%;
    height : 50%;
    float  : none;
    margin : 10%;
  }

  .mobile div.addressemail {
    float     : none;
    margin    : 10%;
    font-size : 50pt;
  }

  .mobile div.more {
    opacity : 0;
  }

  .mobile input.inputs {
    width  : 80%;
    margin : 2% 10% 2% 10%;
  }

  .mobile textarea.inputmessage {
    width  : 80%;
    margin : 2% 10% 2% 10%;
  }

  .mobile input.submit {
    width : 25%;
  }

  .mobile div.contacttitles {
    display : none;
  }
}

@media
  (max-width : 1000px) {
  .desktop div.addressemail {
    font-size : 10pt;
  }

  .desktop textarea.inputmessage {
    font-size : 5pt;
  }

  .desktop input.inputs {
    font-size : 15pt;
  }

  .desktop input.submit {
    font-size : 5pt;
  }

  .desktop input.inputs::-webkit-input-placeholder {
    font-size : 15pt;
  }

  .desktop input.inputs::-moz-placeholder {
    font-size : 15pt;
  }

  .desktop textarea.inputmessage::-webkit-input-placeholder {
    font-size : 15pt;
  }

  .desktop textarea.inputmessage::-moz-placeholder {
    font-size : 15pt;
  }

  .desktop div.contacttitle {
    font-size : 20pt;
  }
}
