div.main {
  display         : flex;
  height          : 90%;
  margin-right    : 10%;
  margin-left     : 10%;
  color           : #212121;
  text-align      : center;
  align-content   : center;
  font-family     : "freight";
  flex-direction  : column;
  justify-content : center;
}

div.main a.more {
  font-size : 35pt;
}

div.para {
  display         : flex;
  height          : 90%;
  margin-right    : 10%;
  margin-left     : 10%;
  color           : #212121;
  text-align      : center;
  align-content   : center;
  font-family     : "freight";
  font-size       : 30pt;
  flex-direction  : column;
  justify-content : center;
}

a.title {
  font-size : 100pt;
}

a.caption {
  font-size : 35pt;
}

@media
  only screen
  and (max-width : 1400px) {
  .desktop a.caption {
    font-size : 30pt;
  }

  .desktop a.title {
    font-size : 80pt;
  }

  .desktop div.para {
    font-size : 25pt;
  }
}

@media
  only screen
  and (max-width : 1280px) {
  .desktop a.caption {
    font-size : 25pt;
  }

  .desktop a.title {
    font-size : 70pt;
  }

  .desktop div.para {
    font-size : 20pt;
  }

  .mobile a.title {
    font-size : 120pt;
  }

  .mobile a.caption {
    font-size : 45pt;
  }

  .mobile div.para {
    font-size : 40pt;
  }
}

@media
  only screen
  and (max-width : 1000px) {
  .desktop a.caption {
    font-size : 20pt;
  }

  .desktop a.title {
    font-size : 60pt;
  }

  .desktop div.para {
    font-size : 15pt;
  }
}

@media
  only screen
  and (max-width : 600px) {
  .desktop a.more {
    font-size : 15pt;
  }

  .desktop a.caption {
    font-size : 15pt;
  }

  .desktop a.title {
    font-size : 40pt;
  }

  .desktop div.para {
    font-size : 10pt;
  }
}
