div.topbar {
  position : relative;
  height   : 10%;
}

ul.bar {
  margin          : 0;
  padding         : 0;
  overflow        : hidden;
  list-style-type : none;
}

img.logo {
  position     : absolute;
  right        : 50%;
  width        : 60pt;
  margin-right : -30pt;
}

ul.bar li.left {
  float : left;
}

ul.bar li.right {
  float : right;
}

ul.bar li a {
  display         : block;
  position        : relative;
  margin          : 0.5em 0.4em;
  color           : #212121;
  text-align      : center;
  text-decoration : none;
  font-family     : "freight";
  font-size       : 25pt;
}

ul.bar li a:after {
  content       : '';
  position      : absolute;
  bottom        : 0;
  left          : 0;
  width         : 0;
  border-bottom : 1px solid #212121;
  transition    : 0.4s;
}

ul.bar li a:hover:after {
  width : 100%;
}

@media
  only screen
  and (max-width : 1400px) {
  .desktop img.logo {
    width        : 50pt;
    margin-right : -25pt;
  }

  .desktop ul.bar li a {
    font-size : 20pt;
  }

  .mobile {}
}

@media
  only screen
  and (max-width : 1280px) {
  .desktop img.logo {
    width        : 40pt;
    margin-right : -20pt;
  }

  .desktop ul.bar li a {
    font-size : 15pt;
  }

  .mobile div.topbar {
    height : auto;
  }

  .mobile ul.bar li a:after {
    content       : none;
    position      : inherit;
    bottom        : 0;
    left          : 0;
    width         : 0;
    border-bottom : 0px solid #000000;
    transition    : 0;
  }

  .mobile ul.bar li a:hover:after {
    width : 0;
  }

  .mobile ul.bar {
    text-align : center;
  }

  .mobile ul.bar li a {
    margin : 0;
  }

  .mobile ul.bar li.left {
    float : none;
  }

  .mobile ul.bar li.right {
    float : none;
  }

  .mobile #bhome {
    background-color : #4FC3F7;
  }

  .mobile #babout {
    background-color : #81D4FA;
  }

  .mobile #bcontact {
    background-color : #B3E5FC;
  }

  .mobile img.logo {
    opacity : 0;
  }

  .mobile ul.bar li a {
    font-size : 50pt;
  }
}

@media
  only screen
  and (max-width : 1000px) {
  .desktop img.logo {
    width        : 30pt;
    margin-right : -15pt;
  }

  .desktop ul.bar li a {
    font-size : 10pt;
  }
}

.mobile {}
