{% extends "topbar.html" %}
{% block headex %}
 {{ super() }}
 <link type="text/css" rel="stylesheet" href="/static/css/about.css">
{% endblock %}
{% block content %}
<div id="team" class="aboutmain">
		<p class="aboutitle"><i class="fas fa-users"></i>Our Team has over 20 years of experience.<p>
		<div class="aboutinfodiv">
			<p class="aboutp">We have successfully provided fully integrated staffing solutions to multinational corporations and local conglomerates.</p>
			<p class="aboutp">Our service has touched over 10 industries, including Banking, Logistics, Manufacture, and Media.</p>
			<p class="aboutp">We are the best at finding the right talent at the right time for the right role.</p>
			<p class="aboutp">We Empower the client with the choice of processes that best suit their operation, whether automated or manual</p>
			<p class="aboutp">Our Strength is our Combination of People, Process and Technology.</p>
			<p class="aboutp" onmouseover="document.getElementById('team').scrollIntoView({behavior: 'smooth'})"><a class="more" onclick="document.getElementById('topbar').scrollIntoView({behavior: 'smooth'})"><i class="fas fa-angle-up"></i></a>		<a class="more" onclick="document.getElementById('vision').scrollIntoView({behavior: 'smooth'})"><i class="fas fa-angle-down"></i></a></p>
		</div>
</div>
<div id="vision" class="aboutmain">
		<p class="aboutitle"><i class="fas fa-eye"></i>Our Vision is to become the best HR Service provider across the Industry.<p>
		<div class="aboutinfodiv">
			<p class="aboutp">In the next 3 years, the company will expand to the global platform.</p>
			<p class="aboutp">We are dedicated to serving our customers and the community with the highest levels of service, knowledge, professionalism, honest and integrity.</p>
			<p class="aboutp" onmouseover="document.getElementById('vision').scrollIntoView({behavior: 'smooth'})"><a class="more" onclick="document.getElementById('team').scrollIntoView({behavior: 'smooth', block: 'center', inline: 'center'})"><i class="fas fa-angle-up"></i></a><a class="more" onclick="document.getElementById('contact').scrollIntoView({behavior: 'smooth', block: 'center', inline: 'center'})">		<i class="fas fa-angle-down"></i></a></p>
		</div>
</div>
<div id="contact" class="aboutmain">
		<p class="aboutitle"><i class="fas fa-comments"></i>Get in touch to learn more about us.<p>
		<div class="leavemsg">
			<p class="aboutp">The art of business comes with Humanscape which reflects in the mirror of success. <br> You can leave a message on our Contact Page, use the listed email and phone numbers to get in touch with us.</p>
		</div>
		<p class="aboutp"><a class="more" onclick="document.getElementById('topbar').scrollIntoView({behavior: 'smooth', block: 'center', inline: 'center'})"><i class="fas fa-angle-up"></i> Go to the Top.</a></p>
		<p class="aboutp" onmouseover="document.getElementById('contact').scrollIntoView({behavior: 'smooth'})"><a href={{ url_for("contact")}}><i class="fas fa-envelope"></i> Go to the contact page.</a></p>
</div>
{% endblock %}
