{% extends "topbar.html" %}
{% block headex %}
 {{ super() }}
 <link type="text/css" rel="stylesheet" href="/static/css/confirmation.css">
{% endblock %}
{% block content %}
<div class="confirmationtext">
  Thanks for reaching out.
  <br>
  The internet postman is hard at work delivering your message to us. Expect a reply from us very soon.
  <br>

  <br>
  Check out our about page to know more about what we do.
</div>
{% endblock %}
