{% extends "topbar.html" %} {% block headex %} {{ super() }}
<link type="text/css" rel="stylesheet" href="/static/css/contact.css">
<script src="static/scripts/contactvalidate.js">
</script>
{% endblock %} {% block content %}
<div class="addressemailcontainer">
  <div class="addressemail">
    <a>
    <b>Address:</b>
    <br>
    Office number 1107, Mayuresh Chambers,
    <br>
    Plot Number 60, Sector - 11,
    <br>
    CBD Belapur, Navi Mumbai,
    <br>
    Maharashtra,400614
  </a>
    <br>
    <a>
    <br>
    <b>Email:</b>
    <br>
    <div class="contacttitles" style="float: left; margin-right: 2%">
      <a> HR</a>
    <br>
    <a> CEO</a>
    <br>
    <a> Business Head</a>
  </div>
  <div style="float: left">
    <a class="mail" href="mailto:hr@humanscape.in">hr@humanscape.in</a>
    <br>
    <a class="mail" href="mailto:manisha.loke@humanscape.in">manisha.loke@humanscape.in</a>
    <br>
    <a class="mail" href="mailto:vikram.yadav@humanscape.in">vikram.yadav@humanscape.in</a>
  </div>
  </a>
  <div style="clear: both">
    <br>
    <b>Phone:</b>
  </div>
  <div class="contacttitles" style="float:left; margin-right: 2%">
    <a> HR</a>
    <br>
    <a> CEO</a>
    <br>
    <a> Business Head</a>
  </div>
  <div style="float: left">
    02249744512
    <br> 7021875184
    <br> 9930368110
  </div>
</div>

<div id="map" class="map"></div>
<script>
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 19.017039,
        lng: 73.037439
      },
      zoom: 20
    });
    var marker = new google.maps.Marker({
      position: {
        lat: 19.017039,
        lng: 73.037439
      },
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ gapikey }}&callback=initMap" async defer>
</script>

<div class="more">
  <a class="more" onclick="window.scroll({top: 25000, left: 0, behavior: 'smooth'})"><i class="fas fa-angle-down"></i></a>
</div>

</div>

<div class="contacttitle">
  Send Us a Message
</div>

<div class="form">
  <form onsubmit="return validatecontact()" action="{{url_for("contact")}}" method="post">
    <input class="inputs" type="text" name="name" id="name" placeholder="Name" />
    <input class="inputs" type="text" name="email" id="email" placeholder="Email" />
    <input class="inputs" type="text" name="phone" id="phone" placeholder="Phone" />
    <br>
    <textarea class="inputmessage" type="text" name="message" placeholder="Message"></textarea>
    <br>
    <input class="submit" type="submit" value="Send"></input>
    <br>
  </form>
</div>

{% endblock %}
