<html>
<head>
  <script>
  function testmobile() {
    if (/mobile/i.test(navigator.userAgent)){
      document.getElementById("body").className = "mobile";
    }    
  }
  </script>
  <link type="text/css" rel="stylesheet" href="/static/css/master.css">
  <!-- <link type="text/css" rel="stylesheet" href="/static/css/style.css"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/solid.css" integrity="sha384-29Ax2Ao1SMo9Pz5CxU1KMYy+aRLHmOu6hJKgWiViCYpz3f9egAJNwjnKGgr+BXDN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/fontawesome.css" integrity="sha384-Lyz+8VfV0lv38W729WFAmn77iH5OSroyONnUva4+gYaQTic3iI2fnUKtDSpbVf0J" crossorigin="anonymous">
  {% block headex %}{% endblock %}
</head>
<body onload="testmobile()">
  {% block body %}{% endblock %}
</body>
</html>
