{% extends "topbar.html" %}
{% block headex %}
 {{ super() }}
<link type="text/css" rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block content %}
<div class="main">
  <a class="title">Humanscape</a><br>
  <a class="caption">is one of the fastest growing Staffing Companies providing Human Resource Services in a well-organized manner.</a><br>
  <a class="more" onclick="window.scroll({top: 25000, left: 0, behavior: 'smooth'})"><i class="fas fa-angle-down"></i></a>
</div>
<div class="para"><a name="abc">
Our aim is to provide fast, quality and cost-effective, end-to-end manpower solutions for our clients. Humanscape has strong but flexible technology platform which helps to accommodate maximum client requirements. Humanscape has years of experience in outsourcing and client servicing. Our team has successfully provided fully integrated staffing solutions to multinational corporations and local conglomerates from different industries within the Country.
</div>
{% endblock %}
