{% extends "head.html" %}
{% block headex %}
<link type="text/css" rel="stylesheet" href="/static/css/topbar.css">
{% endblock %}
{% block body %}
<div id="body" class="desktop">
<div class="topbar" id="topbar">
	<img class="logo" src="static/images/logo.svg"/>
	<ul class="bar">
		<li class="left"><a id="bhome" href="{{ url_for("index") }}">Home</a></li>
		<li class="right"><a id="babout" href="{{ url_for("about") }}">About</a></li>
    <li class="right"><a id="bcontact" href="{{ url_for("contact") }}">Contact</a></li>
	</ul>
</div>
{% block content %}
{% endblock %}
</div>
{% endblock %}
